.social-icons {
  margin-left: 66px;
  font-size: 1.6rem;
  color: lightgray;


  span {
    margin-right: 6rem;
    font-size: 1rem;
    align-items: center;
  }
  svg {
    margin-right: 1rem;
    font-size: 1.6rem;

  }

}